{% extends 'base.html.twig' %}
{% block body %}
    <div class="container"
         style="text-align: center; margin-top: 150px; width: 450px; background-color: #5eb5e0; border-radius: 15px">
        <h3>Авторизация</h3>
        {% if error %}
            <div style="color:red">{{ error }}</div>
        {% endif %}
        {{ form(form) }}
        <span>Еще не регистрировались?</span><br>
        <button style="width: 50%; border-radius: 10px; margin-bottom: 20px;" type="submit">
            <a class="btn"
               href="{{ path('registration') }} ">Регистрация</a>
        </button>
        <br>
        <div style="margin-bottom: 20px"><span>Авторизация по соц сетям</span></div>
        <script src="//ulogin.ru/js/ulogin.js"></script>
        <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,facebook,google;hidden=;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fauthentication_with_soc_network;mobilebuttons=0;"></div>
        <div style="margin-bottom: 20px"></div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        setTimeout(function () {
            if ($('.flashbag')) {
                $('.flashbag').remove();
            }
        }, 3000);
    </script>
{% endblock %}
