<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="{{ asset('jquery-3.3.1.min.js') }}"></script>
    <script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
    {% block stylesheets %}
        <style>
            #myMainLink:hover {
                background-color: #0088CC;
            }
            .btn {
                width: 100%;
            }
        </style>
    {% endblock %}
</head>
<body>
<button style="width: 25%; border-radius: 10px; margin-left: 10px; background-color: #5eb5e0" type="submit">
    <a id="myMainLink" style="color: darkblue; width: 100%" class="btn"
       href="{{ path('homepage') }}">На главную</a>
</button>
{% if app.user %}
    <button style="width: 10%; border-radius: 10px; float: right; background-color: #5eb5e0" type="submit">
        <a id="myMainLink" style="color: darkblue; width: 100%" class="btn"
           href="{{ path('logout') }}">Выход</a>
    </button>
    <button style="width: 10%; float: right; border-radius: 10px;" type="submit">
        <a class="btn"
           href="{{ path('profile') }} ">Моя страница</a>
    </button>
{% endif %}
{% if not app.user %}
    <button style="width: 15%; border-radius: 10px; float: right" type="submit">
        <a class="btn"
           href="{{ path('registration') }} ">Регистрация</a>
    </button>
    <button style="width: 15%; border-radius: 10px; float: right" type="submit">
        <a class="btn"
           href="{{ path('authentication') }} ">Авторизация</a>
    </button>
{% endif %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="flashbag"
         style="text-align: center; top: 120px; width: 100%; font-size: 20px; position: fixed;color:red">{{ flashMessage }}</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('message') %}
    <div class="flashbag"
         style="text-align: center; top: 120px; width: 100%; font-size: 20px; position: fixed;color:green">{{ flashMessage }}</div>
{% endfor %}
{% block body %}{% endblock %}
<script type="text/javascript">
    setTimeout(function () {
        if ($('.flashbag')) {
            $('.flashbag').remove();
        }
    }, 3000);
</script>
{% block javascripts %}
{% endblock %}
</body>
</html>
