{% extends 'base.html.twig' %}
{% block title %}Главная{% endblock %}
{% block body %}
    <button style="width: 20%;position: absolute; border-radius: 10px; top: 50px; left: 10px" type="submit">
        <a class="btn"
           href="{{ path('registration_new_object') }}">Зарегистрировать новый объект</a>
    </button>
    <h1 style="text-align: center;">Добро пожаловать</h1>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-9">
                <table class="table table-striped" style=" border: 2px solid #5eb5e0;">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Тип объекта</th>
                        <th scope="col">Количество номеров</th>
                        <th scope="col">Цена зв сутки(1 номер)</th>
                        <th scope="col">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, object in objects %}
                        <tr>
                            <th scope="row">{{ key + 1 }}</th>
                            <td>{{ object.name }}</td>
                            <td>{{ object.type }}</td>
                            <td>{{ object.quantity }}</td>
                            <td>{{ object.price }}</td>
                            <td>
                                <button style="display:inline-block; margin: 0; padding: 0; border-radius: 5px"  type="submit">
                                    <a class="btn" style="margin: 0"
                                       href="{{ path('booking_object_details', { id: object.id } ) }}">Подробнее</a>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if not objects%}
                <h3 style="text-align: center">{{ message }}</h3>
                {% endif %}
            </div>
            <div class="col-md-3">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {#<script type="text/javascript">#}
        {#setTimeout(function () {#}
            {#if ($('.flashbag')) {#}
                {#$('.flashbag').remove();#}
            {#}#}
        {#}, 3000);#}
    {#</script>#}
{% endblock %}




