{% extends 'base.html.twig' %}
{% block body %}
    <div style="text-align: center" class="container">
        <h1 style="margin-top: 100px">Моя страница</h1>
        <h3 style="margin-bottom: 40px">Свяжите Ваш аккаунт с соц сетями</h3>
        <div id="uLogin"
             data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,google,facebook;hidden=;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fprofile%2Fulogin_data_back;mobilebuttons=0;"></div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="//ulogin.ru/js/ulogin.js"></script>
    <script type="text/javascript">
        var vk = '{{ vk }}';
        var facebook = '{{ facebook }}';
        var google = '{{ google }}';
        $(function () {
            setTimeout(function () {
                if ($('.flashbag')) {
                    $('.flashbag').remove();
                }
            }, 3000);
            var divVk = $('.ulogin-button-vkontakte');
            var divFace = $('.ulogin-button-facebook');
            var divGoogle = $('.ulogin-button-google');
            divVk.css("float", "none");
            divFace.css("float", "none");
            divGoogle.css("float", "none");
            if (vk) {
                divVk.remove();
            }
            if (facebook) {
                divFace.remove();
            }
            if (google) {
                divGoogle.remove();
            }
            if (vk && facebook && google) {
                $('.container').append('<div><h2>Вы привязали свой аккаунт ко всем возможным соц сетям!</h2></div>');
            }
        });
    </script>
{% endblock %}