{% extends 'base.html.twig' %}
{% block body %}
    <div style="text-align: center " class="container">
        <h1>Регистрация нового объекта(2 этап)</h1>
        <div class="container" style="text-align: center; padding: 15px; margin-top: 50px; width: 450px; background-color: #5eb5e0; border-radius: 15px;">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        setTimeout(function () {
            if ($('.flashbag')) {
                $('.flashbag').remove();
            }
        }, 3000);
    </script>
{% endblock %}