{% extends 'base.html.twig' %}
{% block body %}
    <div style="text-align: center " class="container">
        <h1>Регистрация нового объекта</h1>
        <div class="container" style="text-align: center; padding: 15px; margin-top: 50px; width: 450px; background-color: #5eb5e0; border-radius: 15px; float: left">
            {{ form(form) }}
        </div>
        <div id="map" style="width: 600px; height: 400px; float: right; margin-top: 100px"><h3>Укажите меткой местонахождение вашего объекта</h3></div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        setTimeout(function () {
            if ($('.flashbag')) {
                $('.flashbag').remove();
            }
        }, 3000);
    </script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init() {
            var myPlacemark,
                myMap = new ymaps.Map('map', {
                    center: [42.46284562, 77.25554600],
                    zoom: 8.5,
                    behaviors:['default', 'scrollZoom'],
                    searchControlProvider: 'yandex#search'
                });
            myMap.controls
                .add('zoomControl', { left: 5, top: 5 })
                // Список типов карты
                .add('typeSelector')
                .add('searchControl');
            myMap.options.set('scrollZoomSpeed', 1.5);

            myMap.events.add('click', function (e) {
                var coords = e.get('coords');

                if (myPlacemark) {
                    myPlacemark.geometry.setCoordinates(coords);
                } else {
                    myPlacemark = createPlacemark(coords);
                    myMap.geoObjects.add(myPlacemark);
                    myPlacemark.events.add('dragend', function () {
                        getAddress(myPlacemark.geometry.getCoordinates());
                    });
                }
                getAddress(coords);

                $('#app_bundle_object_type_coordinates').val(coords);
            });

            function createPlacemark(coords) {
                return new ymaps.Placemark(coords, {
                    iconCaption: 'поиск...'
                }, {
                    preset: 'islands#violetDotIconWithCaption',
                    //draggable: true
                });

            }

            function getAddress(coords) {
                myPlacemark.properties.set('iconCaption', 'поиск...');
                ymaps.geocode(coords).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0);
                    var locations_str = firstGeoObject.properties.get('text');
                    locations_str = locations_str.replace('Киргизия,','');

                    myPlacemark.properties.set({
                        iconCaption: firstGeoObject.properties.get('name'),
                        balloonContent: locations_str
                    });
                });
            }
        }
    </script>
{% endblock %}
