{% extends 'base.html.twig' %}
{% block title %}Подробности объекта{% endblock %}
{% block body %}
    <div class="container">
        <h1 style="text-align: center;">Подробности объекта {{ object.name }}</h1>
        <div class="row">
            <div class="col-md-6" style="margin-right: 50px">
                <p style="margin-top: 80px">Наименование объекта: {{ object.name }}</p>
                <p>Количество номеров: {{ object.quantity }}</p>
                <p>Цена за сутки: {{ object.price }}</p>
                <p>Контактное лицо: {{ object.getContactPerson() }}</p>
                <p>Телефон: {{ object.getPhoneNumber() }}</p>
                <p>Координаты: {{ object.coordinates }}</p>
                <p>Тип объекта: {{ object.type }}</p>
                {% if object.type == 'Коттедж' %}
                    <p>Сауна: {% if object.sauna %} Есть {% else %} Нет {% endif %}</p>
                    <p>Повар: {% if object.cook %} Есть {% else %} Нет {% endif %}</p>
                {% elseif object.type == 'Пансионат' %}
                    <p>3-х разовое питание: {% if object.getThreeMealsADay() %} Есть {% else %} Нет {% endif %}</p>
                    <p>Грязевые ванны: {% if object.getMudBath() %} Есть {% else %} Нет {% endif %}</p>
                {% endif %}

                <table class="table table-striped" style=" border: 2px solid #5eb5e0; margin-top: 20px">
                    <thead>
                    <tr>
                        <th scope="col">Номер комнаты</th>
                        <th scope="col">Дата окончания брони</th>
                        <th scope="col">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set n = object.quantity %}
                    {% for i in range(1,n) %}
                        <tr>
                            <th scope="row">Комната номер # {{ i }}</th>
                            <td>{{ bookings[i] }}</td>
                            <td>
                                <button  style="display:inline-block; margin: 0; padding: 0;border-radius: 5px"  type="submit">
                                    <a class="btn" style="margin: 0"
                                       href="{{ path('book_a_room',{ objectId:object.id, roomNumber: i } ) }}">Бронировать</a>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-5" style="margin-left: 30px;">
                <div id="map" style="width: 500px; height: 350px; float: right; margin-top: 50px"><h3>Местонахождение
                        объекта</h3></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        setTimeout(function () {
            if ($('.flashbag')) {
                $('.flashbag').remove();
            }
        }, 3000);
    </script>
    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var myPlacemark,
                myMap = new ymaps.Map('map', {
                    center: [42.46284562, 77.25554600],
                    zoom: 8,
                    behaviors: ['default', 'scrollZoom'],
                    searchControlProvider: 'yandex#search'
                });
            myMap.controls
                .add('zoomControl', {left: 5, top: 5})
                // Список типов карты
                .add('typeSelector')
                .add('searchControl');
            myMap.options.set('scrollZoomSpeed', 1.5);

            var coords = [{{ object.coordinates }}];

            myPlacemark = createPlacemark(coords);
            myMap.geoObjects.add(myPlacemark);
            myPlacemark.events.add('dragend', function () {
                getAddress(myPlacemark.geometry.getCoordinates());
            });

            getAddress(coords);

            function createPlacemark(coords) {
                return new ymaps.Placemark(coords, {
                    iconCaption: 'поиск...'
                }, {
                    preset: 'islands#violetDotIconWithCaption',
                    //draggable: true
                });

            }

            function getAddress(coords) {
                myPlacemark.properties.set('iconCaption', 'поиск...');
                ymaps.geocode(coords).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0);
                    var locations_str = firstGeoObject.properties.get('text');
                    locations_str = locations_str.replace('Киргизия,', '');

                    myPlacemark.properties.set({
                        iconCaption: firstGeoObject.properties.get('name'),
                        balloonContent: locations_str
                    });
                });
            }
        }
    </script>
{% endblock %}